.DayColumn {
  border: 1px solid gray;
  flex-grow: 1;
  display: flex; // for cells
  flex-direction: column;

  .DayColumnCell {
    flex-grow: 1;

    &.selected {
      background-color: lightblue;
    }

    &:nth-child(odd) {
      border-bottom: 1px solid grey;
    }

    &:nth-child(even) {
      border-bottom: 1px solid black;
    }
  }
}
